.ui-menu {
    width: 150px;
}

.ui-menu a {
    text-decoration: none;
}

.wrapper {
    display: flex;
    margin-top: 20px;
}

#home-div {
    border-style: solid;
    border-color: black;
    height: 400px;
    overflow: hidden;

}

#sortable { 
    list-style-type: none; margin: 0; padding: 0; width: 60%;
}

#sortable li { 
    margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px;
}

#sortable li span { 
    position: absolute; margin-left: -1.3em; 
}

#feedback { 
    font-size: 1.4em; 
}

#selectable .ui-selecting { 
    background: #6214f3; 
}

#selectable .ui-selected { 
    background: #6214f3; color: white; 
}

#selectable { 
    list-style-type: none; margin: 0; padding: 0; width: 60%; 
}

#selectable li { 
    margin: 3px; padding: 0.4em; font-size: 1.4em; height: 18px; 
}   

iframe {
    width: 800px;
    height: 500px;
    margin-left: 150px;
    border: 0;
    
}

.desoslide-overlay {
    padding: 0;
}

.desoslide-caption-title {
    margin: 5px;
}

.desoslide-controls-wrapper {
    margin: 5px;
}

#slideshow_thumbs img {
    width: 80%;
    height: 80%;
}

img {
    width: 50%;
    height: 50%;
}

#slideshow_thumbs li {
    list-style: none;
    
}

.desoslide-thumbs-horizontal img {
    border:3px solid #22313f;
    border-radius:3px;
    transition:border .25s linear,opacity .25s linear
}
.desoslide-thumbs-horizontal>li:focus img, .desoslide-thumbs-horizontal>li:hover img {
    border-color:#cc3cb9;
    opacity:.8
}

#slideshow-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#thumbs-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

#thumbs-div ul li {
    display: inline-block;
}

#slideshow-div {
    display: flex;
    align-items: center;
    justify-content: center;
}